@import '../styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.navbarHeader {
  color: white;
  height: 82px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $navbarFundo;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: "Poppins", system-ui;
  position: sticky;
  top: 0;
  z-index: 1;

  

  .navbarHeaderMainWrapper {
    display: flex;
    gap: 4em;
    margin-left: 200px;
  }

  .navbarHeaderNav {
    margin-left: 16em;
    display: flex;
    gap: 4.438em;
    
    a {
      text-decoration: none;
      color:  white;
    }
  }

  .navbarHeaderLogo a {
    text-decoration: none;
    color: $secondaryText;
    cursor: pointer;
  }
}